<!--Underscore is used for partial files that are not rendered by the server-->
<label>Name</label>
<!--the name is how our server gets our object, use equals to input variable-->
<input type="text"  name="name" value ="<%= author.name %>">